<?xml version="1.0" encoding="utf-8"?>

<configuration>
  

  <system.web.webPages.razor>
    
    <pages>
      <namespaces>
        <add namespace="System.Linq" />
        
        
        
        
        <add namespace="umbraco.NodeFactory" />
        <add namespace="umbraco.cms.businesslogic.media" />
        
        
        
        
        <add namespace="Ministry.Ministryweb" />
        <add namespace="Ministry.Ministryweb.Views" />
        <add namespace="Ministry.Ministryweb.Models" />
        <add namespace="Ministry.Ministryweb.ViewModels" />
        
        
        
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  

  

  
</configuration>
